/* Сброс стилей для всех элементов на странице */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Установка модели контура на "border-box" */
    border-radius: 0px; /* радиус закругления углов */
    text-decoration: none; /* убирает подчеркивание ссылок*/
    
}

/* Стили для всей страницы */
body {
    background-color: #282828; /* Цвет фона */
    border: 1px solid #2f00ff; /* Рамка вокруг body */
}

/* Стили для верхней панели */
.top-bar {

    background-color: #353535; /* Цвет фона верхней панели */
    padding: 0px 10px; /* Внутренний отступ сверху и снизу 0px, справа и слева 8px */
    border: 0.1px solid #ff0000; /* Рамка вокруг верхней панели */
    height: 56px;
    position: sticky;
    top: 0;
}

/* Стили для панели навигации */
.nav-panel{
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border: 0.01px solid #faf8f8; /* Рамка вокруг панели навигации */

    height: 100%;
}

.nav-panel a{
    color: #c2c2c2;
}

.nav-panel div{
    border: 0.1px solid #00aeff;
    font-size: 22px;
    
}

.menu-logo{
    display: flex;
    align-items: center;
}




.main{
    margin: 0 50px;
    padding: 16px;
    border: 0.2px solid #7fbd7f;
    height: 500px;
}

  