/* Сброс стилей для всех элементов на странице */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Установка модели контура на "border-box" */
    border-radius: 0px; /* радиус закругления углов */
    text-decoration: none; /* убирает подчеркивание ссылок*/
    
}

/* Стили для всей страницы */
body {

    background-color: #282828; /* Цвет фона */
    border: 1px solid #2f00ff; /* Рамка вокруг body */
    color: #afafaf;
}

/* Стили для верхней панели */
.top-bar {

    background-color: #353535; /* Цвет фона верхней панели */
    padding: 0px 10px; /* Внутренний отступ сверху и снизу 0px, справа и слева 8px */
    border: 0.1px solid #ff0000; /* Рамка вокруг верхней панели */
    height: 56px;
    position: sticky;
    top: 0;
    width: 100%;
    

}


/* ------------------------------------топ меню---------------------------------- */
/* Стили для панели навигации */
.nav-panel{
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
    /*border: 0.01px solid #faf8f8;*/ /* Рамка вокруг панели навигаци */
    height: 100%;
}

/* цвет ссылок */
.nav-panel a, span{
    color: #c2c2c2;
}

/* панель навигации внутр */
.nav-panel div{
    /* border: 0.1px solid #00aeff; */
    font-size: 22px;
    
}

/* лого и главная с выпад меню*/
.menu-logo{
    display: flex;
    align-items: center;
}

/* выпадающее меню */
.drop-menu{
    padding-left: 15px;
}

/* окно поиска */
.search-bar{
    width: 500px;
    
}
.search-input{
    background-color: #353536;
    border: 0;
    
    height: 30px;
    width: 100%;
}

/* ------------------------------------------------------------------------------- */

/* основная часть сайта */
.mein{
    border: 0.2px solid #7fbd7f;
    width: 100%;
    max-width: 2440px;
    margin: 0 auto;
    padding: 16px 22px 0 22px;
    
}

/* -------------------------------медиа запросы----------------------------------- */
@media screen and (min-width:760px) {
    .mein{
        width: 100%;
        max-width: 760px;
    }
}

@media screen and (min-width:1300px) {
    .mein{
        width: 100%;
        max-width: 1280px;
    }
}

@media screen and (min-width:1920px) {
    .mein{
        width: 100%;
        max-width: 1600px;
    }
}

@media screen and (min-width:2560px) {
    .mein{
        width: 100%;
        max-width: 1940px;
    }
}
/* --------------------------------------------------------------------------------- */




/* ------------------------------Фильмы------------------------------- */
.movie{
    border: 0.2px solid #b17fbd;
    margin-bottom: 22px;
    height: 280px;

}
/* .film-on-tv{
    border: 0.2px solid #d63751;
} */
.headlinemovie{
    border: 0.2px solid #b17fbd;
    padding: 16px;
    
}
.headlinemovie a{
    color: #c1b6a3;
    width: 147px;
    padding: 6px 16px;
}
.spismov{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-right: 16px;
}

.spismov article{
    border: 0.2px solid #b17fbd;
    margin: 0 0 0 16px;
    width: 150px;
    height: 225px;
    
}

/* ---------------------------------------------------------------- */




/* ----------------------------Сериалы------------------------------------ */
.series{
    border: 0.2px solid #8c7fbd;
    margin-bottom: 22px;
    height: 280px; 
}

.series-on-tv{
    border: 0.2px solid #b17fbd;
    padding: 16px;
    
}
.series-on-tv a{
    color: #c1b6a3;
    width: 147px;
    padding: 6px 16px;
}
.spisseries{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-right: 16px;
}
.spisseries article{
    border: 0.2px solid #b17fbd;
    margin: 0 0 0 16px;
    width: 150px;
    height: 225px;
    
}



/* ----------------------------Смотрю------------------------------------ */
.watching{
    border: 0.2px solid #8c7fbd;
    margin-bottom: 22px;
    height: 280px; 

}

.continue-watching{
    border: 0.2px solid #be34ec;
    padding: 16px;

}

.continue-watching a{
    color: #c1b6a3;
    width: 147px;
    padding: 6px 16px;

}
  